* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 80px;
    background: #BAAEA2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

nav a:hover {
    color: #fff;
}

.logo {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0.2rem;
}

.blog {
    background: #282C34;
}

.blog-container {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.blog-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0rem 2rem;
}

.blog-center h1 {
    margin-bottom: 0.5rem;
    font-size: 5rem;
    font-family: 'Raleway', sans-serif;
}

.blog-center p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    font-style: italic;
    color: grey;
    animation-delay: 1s;
}

.blog-center img {
    padding-top: 100px;
    width: 600px;
    animation-delay: 2.5s;
}

.animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.blog-2 {
    background: #9B938D;
}

.blog-container-2 {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.blog-center-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: black;
    padding: 0rem 2rem;
}

.blog-center-2 h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    width: 500px;
}

.blog-center-2 p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 900px;
}

.blog-center-2 img {
    width: 600px;
    position: absolute;
    right: 50px;
}

.blog-3 {
    background: #7A727E;
}

.blog-container-3 {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.blog-center-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: black;
    padding: 0rem 2rem;
}

.blog-center-3 h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    width: 500px;
}

.blog-center-3 p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 900px;
}

.blog-center-3 img {
    width: 600px;
    position: absolute;
    right: 50px;
}

.blog-4 {
    background: #A8B1B1;
}

.blog-container-4 {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.blog-center-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0rem 2rem;
}

.blog-center-4 h1 {
    margin-bottom: 0.5rem;
    font-size: 5rem;
    font-family: 'Raleway', sans-serif;
}

.blog-center-4 p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    font-style: italic;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: black;
    background: white;
    cursor: pointer;
}

button:hover {
    background: black;
    color: white;
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #BEA481;
    border-top: 4px solid white;
    height: 50%;
}

.footer-p {
    margin: 2rem;
    font-size: 1.5rem;
    color: white;
}